# Gitignore for MMV project.
#  Whitelist mode

# Ignore all but directories
*
!*/

# ALLOW ============================
# Code sources _____________________
# C source files
!*.c
!*.h

# GLSL shader source files
!*.fs
!*.vs

# Python source files
!*.py

# Build scripts
!*.sh

# It was ignoring the gitignore before lol
!*.gitignore

